Repository stapi-spec/pystapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, mypy, pymarkdown, check-toml, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:

      - id: ruff-check
        name: Lint with ruff
        entry: uv run ruff check --fix
        language: system
        types: [python]
        pass_filenames: false
        verbose: true

      - id: ruff-format
        name: Format with ruff
        entry: uv run ruff format
        language: system
        types: [python]
        pass_filenames: false
        verbose: true

      - id: mypy
        name: Check typing with mypy
        entry: uv run mypy
        language: system
        types: [python]
        pass_filenames: false
        verbose: true

      - id: pymarkdown
        name: Markdownlint
        description: Run markdownlint on Markdown files
        entry: uv run pymarkdown scan
        language: system
        files: \.(md|mdown|markdown)$

      - id: check-added-large-files
        name: Check for added large files
        entry: uv run check-added-large-files
        language: system

      - id: check-toml
        name: Check Toml
        entry: uv run check-toml
        language: system
        types: [toml]

      - id: check-yaml
        name: Check Yaml
        entry: uv run check-yaml
        language: system
        types: [yaml]
        exclude: ^mkdocs.yml$

      - id: mixed-line-ending
        name: Check mixed line endings
        entry: uv run mixed-line-ending
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]

      - id: end-of-file-fixer
        name: Fix End of Files
        entry: uv run end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]

      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: uv run trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]

      - id: check-merge-conflict
        name: Check merge conflicts
        entry: uv run check-merge-conflict
        language: system

      - id: no-commit-to-branch
        name: Check not committting to main
        entry: uv run no-commit-to-branch
        language: system
        args: ["--branch", "main"]
        pass_filenames: false

Minor typo
  stapi-fastapi/src/stapi_fastapi/backends/root_backend.py
Due: ruff-check, ruff-format, mypy

fix: include pystapi-client in docker image
  .dockerignore
Due: none

fix: only build docker on 3.12
  .github/workflows/ci.yaml
Due: check-yaml

resolve mkdocs issues in docstrings
  pystapi-client/README.md
  pystapi-client/src/pystapi_client/client.py
  pystapi-client/src/pystapi_client/stapi_api_io.py
Due: ruff-check, ruff-format, mypy, pymarkdown

fix: docker
  .github/workflows/ci.yaml
  Dockerfile
Due: check-yaml

top level orders
  pystapi-schema-generator/src/pystapi_schema_generator/product_router.py
Due: ruff-check, ruff-format, mypy

fix: libffi-dev?
  Dockerfile
Due: none

fix: include pystapi-client in docker image (#87)
  .dockerignore
  Dockerfile
Due: none

feat: more fixups
  docs/pystapi-client/index.md
  docs/stapi-client/index.md
  docs/stapi-pydantic/index.md
  mkdocs.yml
Due: pymarkdown

feat: add opportunity search statuses (#78)
  stapi-fastapi/CHANGELOG.md
  stapi-fastapi/src/stapi_fastapi/backends/root_backend.py
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
  stapi-fastapi/src/stapi_fastapi/routers/route_names.py
  stapi-fastapi/tests/backends.py
  stapi-fastapi/tests/conftest.py
  stapi-fastapi/tests/shared.py
  stapi-fastapi/tests/test_opportunity_async.py
Due: ruff-check, ruff-format, mypy, pymarkdown

fix: lint
  pystapi-client/src/pystapi_client/client.py
Due: ruff-check, ruff-format, mypy

docs: update docstrings and readme pystac-client (#84)
  docs/pystapi-client/api.md
  docs/pystapi-client/index.md
  docs/stapi-client/index.md
  docs/stapi-pydantic/index.md
  mkdocs.yml
  pystapi-client/README.md
  pystapi-client/pyproject.toml
  pystapi-client/src/pystapi_client/client.py
  pystapi-client/src/pystapi_client/stapi_api_io.py
Due: ruff-check, ruff-format, mypy, pymarkdown, check-toml

feat: add OrderStatusCode values to reflect failure modes for orders (#56)
  stapi-pydantic/src/stapi_pydantic/order.py
Due: ruff-check, ruff-format, mypy

reduce product router
  pystapi-schema-generator/src/pystapi_schema_generator/product_router.py
Due: ruff-check, ruff-format, mypy

fix: test name
  stapi-fastapi/tests/test_product.py
Due: ruff-check, ruff-format, mypy

fix: conformance url
  stapi-fastapi/tests/test_product.py
Due: ruff-check, ruff-format, mypy

refactor: s/constraints/queryables (#74)
  stapi-fastapi/src/stapi_fastapi/backends/product_backend.py
  stapi-fastapi/src/stapi_fastapi/exceptions.py
  stapi-fastapi/src/stapi_fastapi/models/product.py
  stapi-fastapi/src/stapi_fastapi/routers/product_router.py
  stapi-fastapi/src/stapi_fastapi/routers/route_names.py
  stapi-fastapi/tests/shared.py
  stapi-fastapi/tests/test_product.py
  stapi-pydantic/CHANGELOG.md
  stapi-pydantic/src/stapi_pydantic/__init__.py
  stapi-pydantic/src/stapi_pydantic/product.py
  stapi-pydantic/src/stapi_pydantic/queryables.py
Due: ruff-check, ruff-format, mypy, pymarkdown

refactor: s/constraints/queryables (#74)
  stapi-fastapi/src/stapi_fastapi/backends/product_backend.py
  stapi-fastapi/src/stapi_fastapi/errors.py
  stapi-fastapi/src/stapi_fastapi/models/product.py
  stapi-fastapi/src/stapi_fastapi/routers/product_router.py
  stapi-fastapi/src/stapi_fastapi/routers/route_names.py
  stapi-fastapi/tests/shared.py
  stapi-fastapi/tests/test_product.py
  stapi-pydantic/CHANGELOG.md
  stapi-pydantic/src/stapi_pydantic/__init__.py
  stapi-pydantic/src/stapi_pydantic/product.py
  stapi-pydantic/src/stapi_pydantic/queryables.py
Due: ruff-check, ruff-format, mypy, pymarkdown

reduce router code
  pystapi-schema-generator/src/pystapi_schema_generator/application.py
  pystapi-schema-generator/src/pystapi_schema_generator/backend.py
  pystapi-schema-generator/src/pystapi_schema_generator/product_router.py
  pystapi-schema-generator/src/pystapi_schema_generator/router.py
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
  stapi-pydantic/src/stapi_pydantic/shared.py
Due: ruff-check, ruff-format, mypy

--wip-- [skip ci]
  stapi-fastapi/src/stapi_fastapi/conformance.py
Due: ruff-check, ruff-format, mypy

further reduce
  pystapi-schema-generator/src/pystapi_schema_generator/application.py
  pystapi-schema-generator/src/pystapi_schema_generator/product.py
  pystapi-schema-generator/src/pystapi_schema_generator/product_router.py
  pystapi-schema-generator/src/pystapi_schema_generator/router.py
Due: ruff-check, ruff-format, mypy

fix
  pystapi-schema-generator/src/pystapi_schema_generator/product_router.py
Due: ruff-check, ruff-format, mypy

add cli with 5 commands: product, products, order, orders, opportunities
  README.md
  pyproject.toml
  pystapi-client/pyproject.toml
  pystapi-client/src/pystapi_client/cli.py
  pystapi-client/src/pystapi_client/client.py
  pystapi-client/src/pystapi_client/stapi_api_io.py
  pystapi-client/src/pystapi_client/warns.py
  uv.lock
Due: ruff-check, ruff-format, mypy, pymarkdown, check-toml

Update stapi-fastapi/src/stapi_fastapi/backends/product_backend.py
  stapi-fastapi/src/stapi_fastapi/backends/product_backend.py
Due: ruff-check, ruff-format, mypy

Setup client testing
  pyproject.toml
  pystapi-client/src/pystapi_client/client.py
  pystapi-client/src/pystapi_client/stapi_api_io.py
  pystapi-client/tests/conftest.py
  pystapi-client/tests/fixtures/landing_page.json
  pystapi-client/tests/fixtures/products.json
  pystapi-client/tests/test_client.py
  uv.lock
Due: ruff-check, ruff-format, mypy, check-toml

wip
  stapi-fastapi/src/stapi_fastapi/conformance.py
  stapi-fastapi/src/stapi_fastapi/models/product.py
  stapi-fastapi/src/stapi_fastapi/routers/product_router.py
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
  stapi-fastapi/tests/conftest.py
  stapi-fastapi/tests/test_conformance.py
  stapi-fastapi/tests/test_root.py
Due: ruff-check, ruff-format, mypy

Setup client testing (#89)
  pyproject.toml
  pystapi-client/src/pystapi_client/client.py
  pystapi-client/src/pystapi_client/stapi_api_io.py
  pystapi-client/tests/conftest.py
  pystapi-client/tests/fixtures/landing_page.json
  pystapi-client/tests/fixtures/products.json
  pystapi-client/tests/test_client.py
  uv.lock
Due: ruff-check, ruff-format, mypy, check-toml

add script to generate schema file
  pystapi-schema-generator/pyproject.toml
  pystapi-schema-generator/src/pystapi_schema_generator/application.py
  uv.lock
Due: ruff-check, ruff-format, mypy, check-toml

refactor: rename errors to exceptions (#41)
  stapi-fastapi/CHANGELOG.md
  stapi-fastapi/src/stapi_fastapi/backends/product_backend.py
  stapi-fastapi/src/stapi_fastapi/errors.py
  stapi-fastapi/src/stapi_fastapi/routers/product_router.py
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
Due: ruff-check, ruff-format, mypy, pymarkdown

feat: add more conformances
  stapi-fastapi/tests/conftest.py
Due: ruff-check, ruff-format, mypy

chore: update changelog
  stapi-fastapi/CHANGELOG.md
Due: pymarkdown

fix: comments
  stapi-fastapi/src/stapi_fastapi/conformance.py
Due: ruff-check, ruff-format, mypy

fix: precommit in readme
  README.md
Due: pymarkdown

fix: readme packages
  README.md
Due: pymarkdown

fix: maybe we shouldn't have been so pedantic
  README.md
Due: pymarkdown

fix: lol it's a y
  README.md
Due: pymarkdown

fix: wording
  CONTRIBUTING.md
Due: pymarkdown

fix: validation script
  stapi-fastapi/tests/application.py
  stapi-fastapi/tests/shared.py
Due: ruff-check, ruff-format, mypy

feat: switch to dataclasses
  stapi-fastapi/src/stapi_fastapi/conformance.py
  stapi-fastapi/src/stapi_fastapi/models/product.py
  stapi-fastapi/src/stapi_fastapi/routers/product_router.py
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
  stapi-fastapi/tests/conftest.py
  stapi-fastapi/tests/shared.py
  stapi-fastapi/tests/test_conformance.py
  stapi-fastapi/tests/test_root.py
Due: ruff-check, ruff-format, mypy
