Repository stapi-spec/pystapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, mypy, pymarkdown, check-toml, check-yaml

ruff-check:
  name: Lint with ruff
  entry: uv run ruff check --fix
  language: system
  pass_filenames: false
  verbose: true

ruff-format:
  name: Format with ruff
  entry: uv run ruff format
  language: system
  pass_filenames: false
  verbose: true

mypy:
  name: Check typing with mypy
  entry: uv run mypy
  language: system
  pass_filenames: false
  verbose: true

pymarkdown:
  name: Markdownlint
  description: Run markdownlint on Markdown files
  entry: uv run pymarkdown scan
  language: system

check-toml:
  name: Check Toml
  entry: uv run check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: uv run check-yaml
  language: system

Fix mypy issues
  stapi-fastapi/src/stapi_fastapi/models/product.py
  stapi-pydantic/src/stapi_pydantic/__init__.py
Due: ruff-check, ruff-format, mypy

Update Dockerfile
  Dockerfile
Due: none

reduce number of new states
  stapi-pydantic/src/stapi_pydantic/order.py
Due: ruff-check, ruff-format, mypy

include docker build into PR pipeline
  .github/workflows/ci.yaml
Due: check-yaml

harmonize
  .github/workflows/release.yaml
Due: check-yaml

explicitly do not push
  .github/workflows/ci.yaml
Due: check-yaml

job name: package-name -> package_name
  .github/workflows/release.yaml
Due: check-yaml

re name back: pypi-reelase -> release
  .github/workflows/release.yaml
Due: check-yaml

Address comments
  pyproject.toml
  pystapi-client/pyproject.toml
  pystapi-client/src/pystapi_client/__init__.py
  pystapi-client/src/pystapi_client/client.py
  pystapi-client/src/pystapi_client/conformance.py
  pystapi-client/src/pystapi_client/exceptions.py
Due: ruff-check, ruff-format, mypy, check-toml

add pystapi-validator again for now as it is a dependency
  .dockerignore
Due: none

change way of passing the python version
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Due: check-yaml

Add orders fetch methods
  pystapi-client/src/pystapi_client/client.py
Due: ruff-check, ruff-format, mypy

release: stac-pydantic v0.0.2
  stapi-pydantic/CHANGELOG.md
  stapi-pydantic/pyproject.toml
  uv.lock
Due: pymarkdown, check-toml

Changes based on feedback
  pystapi-client/src/pystapi_client/client.py
  pystapi-client/src/pystapi_client/stapi_api_io.py
Due: ruff-check, ruff-format, mypy

update to latest version
  pystapi-validator/pyproject.toml
Due: check-toml

release: stac-pydantic v0.0.2 (#60)
  stapi-pydantic/CHANGELOG.md
  stapi-pydantic/pyproject.toml
  uv.lock
Due: pymarkdown, check-toml

fix deprecation warning ignore
  pyproject.toml
Due: check-toml

fix validator
  pystapi-validator/tests/validate_api.py
Due: ruff-check, ruff-format, mypy

update lock
  uv.lock
Due: none

feat: add pystapi-client (#21)
  pyproject.toml
  pystapi-client/README.md
  pystapi-client/pyproject.toml
  pystapi-client/src/pystapi_client/__init__.py
  pystapi-client/src/pystapi_client/client.py
  pystapi-client/src/pystapi_client/conformance.py
  pystapi-client/src/pystapi_client/exceptions.py
  pystapi-client/src/pystapi_client/py.typed
  pystapi-client/src/pystapi_client/stapi_api_io.py
  pystapi-client/src/pystapi_client/version.py
  pystapi-client/src/pystapi_client/warnings.py
  stapi-fastapi/src/stapi_fastapi/models/product.py
  stapi-pydantic/src/stapi_pydantic/__init__.py
  stapi-pydantic/src/stapi_pydantic/product.py
  stapi-pydantic/src/stapi_pydantic/py.typed
  uv.lock
Due: ruff-check, ruff-format, mypy, pymarkdown, check-toml

feat: add release script
  RELEASING.md
  pyproject.toml
  scripts/release
  uv.lock
Due: pymarkdown, check-toml

feat: add fastapi docker (#52)
  .dockerignore
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  Dockerfile
Due: check-yaml

no error on deprecation warnings
  pyproject.toml
Due: check-toml

add naked project
  pyproject.toml
  pystapi-schema-generator/CHANGELOG.md
  pystapi-schema-generator/README.md
  pystapi-schema-generator/pyproject.toml
  pystapi-schema-generator/src/pystapi_schema_generator/__init__.py
  pystapi-schema-generator/src/pystapi_schema_generator/py.typed
  uv.lock
Due: ruff-check, ruff-format, mypy, pymarkdown, check-toml

make linter happy
  pystapi-schema-generator/CHANGELOG.md
  pystapi-schema-generator/README.md
  pystapi-schema-generator/src/pystapi_schema_generator/__init__.py
Due: ruff-check, ruff-format, mypy, pymarkdown

feat: add stapi_type and stapi_version (#54)
  stapi-fastapi/src/stapi_fastapi/conformance.py
  stapi-pydantic/CHANGELOG.md
  stapi-pydantic/src/stapi_pydantic/constants.py
  stapi-pydantic/src/stapi_pydantic/order.py
  stapi-pydantic/src/stapi_pydantic/product.py
Due: ruff-check, ruff-format, mypy, pymarkdown

Relax pystac-pydantic python version to 3.10
  .github/workflows/ci.yaml
  stapi-pydantic/pyproject.toml
Due: check-toml, check-yaml

Set project wide requires-python to > 3.10
  stapi-fastapi/pyproject.toml
  uv.lock
Due: check-toml

refactor: s/constraints/queryables
  stapi-fastapi/src/stapi_fastapi/backends/product_backend.py
  stapi-fastapi/src/stapi_fastapi/exceptions.py
  stapi-fastapi/src/stapi_fastapi/models/product.py
  stapi-fastapi/src/stapi_fastapi/routers/product_router.py
  stapi-fastapi/src/stapi_fastapi/routers/route_names.py
  stapi-fastapi/tests/shared.py
  stapi-fastapi/tests/test_product.py
  stapi-pydantic/src/stapi_pydantic/__init__.py
  stapi-pydantic/src/stapi_pydantic/product.py
  stapi-pydantic/src/stapi_pydantic/queryables.py
Due: ruff-check, ruff-format, mypy

run validation in ci
  .github/workflows/ci.yaml
  scripts/validate-stapi-fastapi
Due: check-yaml

improve script
  scripts/validate-stapi-fastapi
Due: none

chore: update changelog
  stapi-pydantic/CHANGELOG.md
Due: pymarkdown

use pytest
  scripts/validate-stapi-fastapi
Due: none

continue on validation error
  .github/workflows/ci.yaml
Due: check-yaml

upload report
  .github/workflows/ci.yaml
Due: check-yaml

refactor: s/canceled/cancelled/
  stapi-pydantic/src/stapi_pydantic/order.py
Due: ruff-check, ruff-format, mypy

fix: missed one
  stapi-pydantic/src/stapi_pydantic/opportunity.py
Due: ruff-check, ruff-format, mypy

Make datetime utc and StrEnum 3.10 compatible
  .python-version
  stapi-fastapi/tests/conftest.py
  stapi-fastapi/tests/test_datetime_interval.py
  stapi-fastapi/tests/test_opportunity_async.py
  stapi-fastapi/tests/test_order.py
  stapi-pydantic/src/stapi_pydantic/datetime_interval.py
  stapi-pydantic/src/stapi_pydantic/json_schema_model.py
  stapi-pydantic/src/stapi_pydantic/opportunity.py
  stapi-pydantic/src/stapi_pydantic/order.py
  stapi-pydantic/src/stapi_pydantic/product.py
Due: ruff-check, ruff-format, mypy

Change the Type to TypedAlias
  stapi-fastapi/tests/shared.py
  stapi-pydantic/src/stapi_pydantic/filter.py
  stapi-pydantic/src/stapi_pydantic/order.py
  stapi-pydantic/src/stapi_pydantic/product.py
Due: ruff-check, ruff-format, mypy

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  pymarkdown: any of: \.(md|mdown|markdown)$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$, but not: ^mkdocs.yml$
