Repository stapi-spec/pystapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, mypy, pymarkdown, check-toml, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:

      - id: ruff-check
        name: Lint with ruff
        entry: uv run ruff check --fix
        language: system
        types: [python]
        pass_filenames: false
        verbose: true

      - id: ruff-format
        name: Format with ruff
        entry: uv run ruff format
        language: system
        types: [python]
        pass_filenames: false
        verbose: true

      - id: mypy
        name: Check typing with mypy
        entry: uv run mypy
        language: system
        types: [python]
        pass_filenames: false
        verbose: true

      - id: pymarkdown
        name: Markdownlint
        description: Run markdownlint on Markdown files
        entry: uv run pymarkdown scan
        language: system
        files: \.(md|mdown|markdown)$

      - id: check-added-large-files
        name: Check for added large files
        entry: uv run check-added-large-files
        language: system

      - id: check-toml
        name: Check Toml
        entry: uv run check-toml
        language: system
        types: [toml]

      - id: check-yaml
        name: Check Yaml
        entry: uv run check-yaml
        language: system
        types: [yaml]
        exclude: ^mkdocs.yml$

      - id: mixed-line-ending
        name: Check mixed line endings
        entry: uv run mixed-line-ending
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]

      - id: end-of-file-fixer
        name: Fix End of Files
        entry: uv run end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]

      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: uv run trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]

      - id: check-merge-conflict
        name: Check merge conflicts
        entry: uv run check-merge-conflict
        language: system

      - id: no-commit-to-branch
        name: Check not committting to main
        entry: uv run no-commit-to-branch
        language: system
        args: ["--branch", "main"]
        pass_filenames: false

--wip-- [skip ci]
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
  stapi-fastapi/src/stapi_fastapi/routers/route_names.py
  stapi-fastapi/tests/test_opportunity_async.py
Due: ruff-check, ruff-format, mypy

fix: remove spurious sys.path
  stapi-fastapi/tests/application.py
Due: ruff-check, ruff-format, mypy

Change the version compatible importing to be inline with mypy
  .python-version
  stapi-fastapi/tests/conftest.py
  stapi-fastapi/tests/test_datetime_interval.py
  stapi-fastapi/tests/test_opportunity_async.py
  stapi-fastapi/tests/test_order.py
  stapi-pydantic/src/stapi_pydantic/opportunity.py
  stapi-pydantic/src/stapi_pydantic/order.py
  stapi-pydantic/src/stapi_pydantic/product.py
Due: ruff-check, ruff-format, mypy

fix: remove spurious sys.path (#77)
  stapi-fastapi/tests/application.py
Due: ruff-check, ruff-format, mypy

Fix the UTC problem with python versions
  stapi-fastapi/src/stapi_fastapi/routers/product_router.py
  stapi-fastapi/tests/test_order.py
  stapi-pydantic/src/stapi_pydantic/datetime_interval.py
Due: ruff-check, ruff-format, mypy

feat: add opportunity search statuses
  stapi-fastapi/src/stapi_fastapi/backends/root_backend.py
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
  stapi-fastapi/tests/backends.py
  stapi-fastapi/tests/conftest.py
  stapi-fastapi/tests/shared.py
  stapi-fastapi/tests/test_opportunity_async.py
Due: ruff-check, ruff-format, mypy

chore: changelog nits
  stapi-fastapi/CHANGELOG.md
Due: pymarkdown

Ignore some mypy typevar issues
  stapi-fastapi/src/stapi_fastapi/routers/product_router.py
  stapi-pydantic/src/stapi_pydantic/opportunity.py
  stapi-pydantic/src/stapi_pydantic/order.py
Due: ruff-check, ruff-format, mypy

docs: update READMEs with relevant stapi-client details
  CONTRIBUTING.md
  README.md
  pystapi-client/README.md
Due: pymarkdown

docs: add stapi-client to docs
  docs/stapi-client/index.md
  docs/stapi-pydantic/index.md
  mkdocs.yml
Due: pymarkdown

Add Opportunities methods to STAPI Client
  pystapi-client/src/pystapi_client/client.py
  pystapi-client/src/pystapi_client/stapi_api_io.py
  stapi-fastapi/tests/application.py
  stapi-pydantic/src/stapi_pydantic/__init__.py
Due: ruff-check, ruff-format, mypy

Add changelog entry for 3.10 and 3.11 support
  stapi-pydantic/CHANGELOG.md
Due: pymarkdown

Use from __future__ import annotations instead
  stapi-fastapi/tests/shared.py
  stapi-pydantic/src/stapi_pydantic/product.py
Due: ruff-check, ruff-format, mypy

UTC reference to datetime.timezone.utc
  stapi-fastapi/tests/conftest.py
  stapi-fastapi/tests/test_datetime_interval.py
  stapi-fastapi/tests/test_opportunity_async.py
  stapi-fastapi/tests/test_order.py
Due: ruff-check, ruff-format, mypy

docs: update docstrings and readme
  pystapi-client/README.md
  pystapi-client/pyproject.toml
  pystapi-client/src/pystapi_client/client.py
  pystapi-client/src/pystapi_client/stapi_api_io.py
Due: ruff-check, ruff-format, mypy, pymarkdown, check-toml

Refactoring the StrEnum
  stapi-pydantic/src/stapi_pydantic/compatibility.py
  stapi-pydantic/src/stapi_pydantic/opportunity.py
  stapi-pydantic/src/stapi_pydantic/order.py
  stapi-pydantic/src/stapi_pydantic/product.py
Due: ruff-check, ruff-format, mypy

fix: lint
  stapi-fastapi/tests/test_opportunity_async.py
  stapi-pydantic/src/stapi_pydantic/product.py
Due: ruff-check, ruff-format, mypy

Revert python 3.10 compatibility
  .github/workflows/ci.yaml
  .python-version
  pyproject.toml
  pystapi-client/pyproject.toml
  pystapi-validator/pyproject.toml
  stapi-fastapi/pyproject.toml
  stapi-fastapi/src/stapi_fastapi/routers/product_router.py
  stapi-fastapi/tests/backends.py
  stapi-fastapi/tests/conftest.py
  stapi-fastapi/tests/shared.py
  stapi-fastapi/tests/test_datetime_interval.py
  stapi-fastapi/tests/test_opportunity_async.py
  stapi-fastapi/tests/test_order.py
  stapi-pydantic/CHANGELOG.md
  stapi-pydantic/src/stapi_pydantic/compatibility.py
  stapi-pydantic/src/stapi_pydantic/datetime_interval.py
  stapi-pydantic/src/stapi_pydantic/opportunity.py
  stapi-pydantic/src/stapi_pydantic/order.py
  stapi-pydantic/src/stapi_pydantic/product.py
  uv.lock
Due: ruff-check, ruff-format, mypy, pymarkdown, check-toml, check-yaml

Revert the Self
  stapi-fastapi/tests/shared.py
  stapi-fastapi/tests/test_opportunity_async.py
  stapi-pydantic/src/stapi_pydantic/product.py
Due: ruff-check, ruff-format, mypy

feat: add conformance to product
  stapi-fastapi/src/stapi_fastapi/routers/product_router.py
  stapi-fastapi/tests/test_product.py
Due: ruff-check, ruff-format, mypy

chore: update changelog
  stapi-fastapi/CHANGELOG.md
Due: pymarkdown

Update return type of paginated endpoints
  pystapi-client/src/pystapi_client/client.py
Due: ruff-check, ruff-format, mypy

Raise stapi-pydantic minimum python to 3.11
  stapi-pydantic/pyproject.toml
Due: check-toml

docs: add pystapi client
  docs/pystapi-client/api.md
  docs/pystapi-client/index.md
  mkdocs.yml
Due: pymarkdown

Reinsert removed __future__ and make link_dict TypeAlias
  stapi-fastapi/src/stapi_fastapi/routers/product_router.py
  stapi-fastapi/tests/shared.py
Due: ruff-check, ruff-format, mypy

Relax pystac-pydantic python version to 3.11 (#73)
  .github/workflows/ci.yaml
  .python-version
  pyproject.toml
  pystapi-client/pyproject.toml
  pystapi-validator/pyproject.toml
  stapi-fastapi/pyproject.toml
  stapi-fastapi/src/stapi_fastapi/routers/product_router.py
  stapi-fastapi/tests/backends.py
  stapi-fastapi/tests/shared.py
  stapi-fastapi/tests/test_opportunity_async.py
  stapi-fastapi/tests/test_order.py
  stapi-pydantic/CHANGELOG.md
  stapi-pydantic/pyproject.toml
  stapi-pydantic/src/stapi_pydantic/datetime_interval.py
  stapi-pydantic/src/stapi_pydantic/filter.py
  stapi-pydantic/src/stapi_pydantic/json_schema_model.py
  stapi-pydantic/src/stapi_pydantic/opportunity.py
  stapi-pydantic/src/stapi_pydantic/order.py
  stapi-pydantic/src/stapi_pydantic/product.py
  uv.lock
Due: ruff-check, ruff-format, mypy, pymarkdown, check-toml, check-yaml

docs: apply suggestions from code review
  docs/stapi-client/index.md
  pystapi-client/README.md
Due: pymarkdown

docs: move package references
  README.md
Due: pymarkdown

fix md
  pystapi-schema-generator/CHANGELOG.md
Due: pymarkdown

zwischenstand
  pystapi-schema-generator/src/pystapi_schema_generator/application.py
  pystapi-schema-generator/src/pystapi_schema_generator/backend.py
  pystapi-schema-generator/src/pystapi_schema_generator/product.py
  stapi-pydantic/src/stapi_pydantic/__init__.py
  stapi-pydantic/src/stapi_pydantic/conformance.py
  stapi-pydantic/src/stapi_pydantic/order.py
  stapi-pydantic/src/stapi_pydantic/product.py
  stapi-pydantic/src/stapi_pydantic/root.py
  stapi-pydantic/src/stapi_pydantic/shared.py
Due: ruff-check, ruff-format, mypy

Fix typing
  pystapi-client/src/pystapi_client/client.py
Due: ruff-check, ruff-format, mypy

feat: add opportunities methods to STAPI Client (#82)
  pystapi-client/src/pystapi_client/client.py
  pystapi-client/src/pystapi_client/stapi_api_io.py
  stapi-fastapi/tests/application.py
  stapi-pydantic/src/stapi_pydantic/__init__.py
Due: ruff-check, ruff-format, mypy

move from fastapi to schema-generator
  pystapi-schema-generator/src/pystapi_schema_generator/application.py
  pystapi-schema-generator/src/pystapi_schema_generator/product_router.py
  pystapi-schema-generator/src/pystapi_schema_generator/router.py
Due: ruff-check, ruff-format, mypy

fix: lint
  CONTRIBUTING.md
  README.md
  docs/stapi-client/index.md
  pyproject.toml
Due: pymarkdown, check-toml

refactor: s/canceled/cancelled/ (#75)
  stapi-pydantic/CHANGELOG.md
  stapi-pydantic/src/stapi_pydantic/opportunity.py
  stapi-pydantic/src/stapi_pydantic/order.py
Due: ruff-check, ruff-format, mypy, pymarkdown

feat: add conformance to product (#85)
  stapi-fastapi/CHANGELOG.md
  stapi-fastapi/src/stapi_fastapi/routers/product_router.py
  stapi-fastapi/tests/test_product.py
Due: ruff-check, ruff-format, mypy, pymarkdown

docs: update pystapi-client readme (#81)
  CONTRIBUTING.md
  README.md
  docs/stapi-client/index.md
  docs/stapi-pydantic/index.md
  mkdocs.yml
  pyproject.toml
  pystapi-client/README.md
Due: pymarkdown, check-toml

feat: add release script (#62)
  RELEASING.md
  pyproject.toml
  scripts/release
  uv.lock
Due: pymarkdown, check-toml

feat: add expired and failed
  stapi-pydantic/src/stapi_pydantic/order.py
Due: ruff-check, ruff-format, mypy

resolve merge conflicts
  pystapi-schema-generator/src/pystapi_schema_generator/product.py
  stapi-pydantic/src/stapi_pydantic/__init__.py
Due: ruff-check, ruff-format, mypy
