Repository stapi-spec/pystapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, mypy, pymarkdown, check-toml, check-yaml

ruff-check:
  name: Lint with ruff
  entry: uv run ruff check --fix
  language: system
  pass_filenames: false
  verbose: true

ruff-format:
  name: Format with ruff
  entry: uv run ruff format
  language: system
  pass_filenames: false
  verbose: true

mypy:
  name: Check typing with mypy
  entry: uv run mypy
  language: system
  pass_filenames: false
  verbose: true

pymarkdown:
  name: Markdownlint
  description: Run markdownlint on Markdown files
  entry: uv run pymarkdown scan
  language: system

check-toml:
  name: Check Toml
  entry: uv run check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: uv run check-yaml
  language: system

fix: use python interpreter directly
  .github/workflows/pypi.yaml
Due: check-yaml

remove original .github form fastapi
  stapi-fastapi/.github/pull_request_template.md
  stapi-fastapi/.github/workflows/pr.yml
  stapi-fastapi/.github/workflows/python-publish.yml
Due: pymarkdown, check-yaml

pre-commit hooks includes/excludes
  .pre-commit-config.yaml
Due: check-yaml

apply ruff linting/format & make mypy happy
  stapi-fastapi/src/stapi_fastapi/backends/product_backend.py
  stapi-fastapi/src/stapi_fastapi/backends/root_backend.py
  stapi-fastapi/src/stapi_fastapi/exceptions.py
  stapi-fastapi/src/stapi_fastapi/models/conformance.py
  stapi-fastapi/src/stapi_fastapi/models/order.py
  stapi-fastapi/src/stapi_fastapi/models/product.py
  stapi-fastapi/src/stapi_fastapi/models/shared.py
  stapi-fastapi/src/stapi_fastapi/routers/product_router.py
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
  stapi-fastapi/src/stapi_fastapi/types/datetime_interval.py
  stapi-fastapi/tests/application.py
  stapi-fastapi/tests/backends.py
  stapi-fastapi/tests/conftest.py
  stapi-fastapi/tests/shared.py
  stapi-fastapi/tests/test_conformance.py
  stapi-fastapi/tests/test_datetime_interval.py
  stapi-fastapi/tests/test_opportunity.py
  stapi-fastapi/tests/test_opportunity_async.py
  stapi-fastapi/tests/test_order.py
  stapi-fastapi/tests/test_product.py
  stapi-fastapi/tests/test_root.py
  stapi-pydantic/src/stapi_pydantic/conformance.py
  stapi-pydantic/src/stapi_pydantic/datetime_interval.py
  stapi-pydantic/src/stapi_pydantic/order.py
  stapi-pydantic/src/stapi_pydantic/product.py
Due: ruff-check, ruff-format, mypy

fix: set packages dir
  .github/workflows/pypi.yaml
Due: check-yaml

change pre-commit hooks instead of scripts
  .github/workflows/ci.yaml
Due: check-yaml

use uv for pre-commit hooks
  .github/workflows/ci.yaml
Due: check-yaml

add opportunity models to exports
  stapi-pydantic/src/stapi_pydantic/__init__.py
Due: ruff-check, ruff-format, mypy

make linter happy
  .github/workflows/ci.yaml
  RELEASING.md
Due: pymarkdown, check-yaml

fix: remove main branch check
  .pre-commit-config.yaml
Due: check-yaml

add opportunity models to exports (#16)
  stapi-pydantic/src/stapi_pydantic/__init__.py
Due: ruff-check, ruff-format, mypy

feat: add codeowners
  CODEOWNERS
Due: none

add ProductsCollection to exports
  stapi-pydantic/src/stapi_pydantic/__init__.py
Due: ruff-check, ruff-format, mypy

Update stapi-validator/README.md
  stapi-validator/README.md
Due: pymarkdown

fix: lint
  stapi-pydantic/src/stapi_pydantic/__init__.py
Due: ruff-check, ruff-format, mypy

Rewrite installation
  stapi-validator/README.md
Due: pymarkdown

feat: test against multiple python versions
  .github/workflows/ci.yaml
Due: check-yaml

Update stapi-validator/pyproject.toml
  stapi-validator/pyproject.toml
Due: check-toml

fix: remove 3.10
  .github/workflows/ci.yaml
  stapi-fastapi/pyproject.toml
  stapi-pydantic/pyproject.toml
  uv.lock
Due: check-toml, check-yaml

fix: use python 3.12
  .github/workflows/ci.yaml
  stapi-fastapi/pyproject.toml
  stapi-pydantic/pyproject.toml
  uv.lock
Due: check-toml, check-yaml

fix: only upload docs for one build
  .github/workflows/ci.yaml
Due: check-yaml

feat: test against multiple python versions (#18)
  .github/workflows/ci.yaml
  stapi-fastapi/pyproject.toml
  stapi-pydantic/pyproject.toml
  uv.lock
Due: check-toml, check-yaml

Rename to pystapi-validator
  pyproject.toml
  pystapi-validator/README.md
  pystapi-validator/pyproject.toml
  pystapi-validator/src/pystapi_validator/__init__.py
  pystapi-validator/tests/__init__.py
  pystapi-validator/tests/validate_api.py
  uv.lock
Due: ruff-check, ruff-format, mypy, pymarkdown, check-toml

feat: add ProductsCollection to pydantic exports (#19)
  stapi-pydantic/src/stapi_pydantic/__init__.py
Due: ruff-check, ruff-format, mypy

Lock
  uv.lock
Due: none

remove some models from fastapi
  stapi-fastapi/src/stapi_fastapi/backends/product_backend.py
  stapi-fastapi/src/stapi_fastapi/backends/root_backend.py
  stapi-fastapi/src/stapi_fastapi/models/__init__.py
  stapi-fastapi/src/stapi_fastapi/models/conformance.py
  stapi-fastapi/src/stapi_fastapi/models/constraints.py
  stapi-fastapi/src/stapi_fastapi/models/opportunity.py
  stapi-fastapi/src/stapi_fastapi/models/order.py
  stapi-fastapi/src/stapi_fastapi/models/product.py
  stapi-fastapi/src/stapi_fastapi/models/root.py
  stapi-fastapi/src/stapi_fastapi/models/shared.py
  stapi-fastapi/src/stapi_fastapi/routers/product_router.py
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
  stapi-fastapi/src/stapi_fastapi/types/datetime_interval.py
  stapi-fastapi/src/stapi_fastapi/types/filter.py
  stapi-fastapi/tests/backends.py
  stapi-fastapi/tests/conftest.py
  stapi-fastapi/tests/shared.py
  stapi-fastapi/tests/test_opportunity.py
  stapi-fastapi/tests/test_opportunity_async.py
  stapi-fastapi/tests/test_order.py
  stapi-pydantic/src/stapi_pydantic/shared.py
Due: ruff-check, ruff-format, mypy

precommit
  pystapi-validator/README.md
  pystapi-validator/src/pystapi_validator/__init__.py
  pystapi-validator/tests/validate_api.py
Due: ruff-check, ruff-format, mypy, pymarkdown

Product subclass
  stapi-fastapi/src/stapi_fastapi/models/__init__.py
  stapi-fastapi/src/stapi_fastapi/models/product.py
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
Due: ruff-check, ruff-format, mypy

feat: add stapi-validator script
  .github/workflows/ci.yaml
  pyproject.toml
  scripts/validate-stapi-fastapi
  scripts/wait-for-it.sh
  stapi-fastapi/tests/application.py
  uv.lock
Due: ruff-check, ruff-format, mypy, check-toml, check-yaml

fix some test
  stapi-fastapi/tests/conftest.py
  stapi-fastapi/tests/shared.py
  stapi-fastapi/tests/test_conformance.py
  stapi-fastapi/tests/test_datetime_interval.py
  stapi-fastapi/tests/test_opportunity_async.py
  stapi-fastapi/tests/test_root.py
Due: ruff-check, ruff-format, mypy

Add pystapi-client
  pyproject.toml
  pystapi-client/README.md
  pystapi-client/pyproject.toml
  pystapi-client/src/pystapi_client/__init__.py
  pystapi-client/src/pystapi_client/_utils.py
  pystapi-client/src/pystapi_client/cli.py
  pystapi-client/src/pystapi_client/client.py
  pystapi-client/src/pystapi_client/collection_client.py
  pystapi-client/src/pystapi_client/collection_search.py
  pystapi-client/src/pystapi_client/conformance.py
  pystapi-client/src/pystapi_client/errors.py
  pystapi-client/src/pystapi_client/exceptions.py
  pystapi-client/src/pystapi_client/item_search.py
  pystapi-client/src/pystapi_client/layout.py
  pystapi-client/src/pystapi_client/mixins.py
  pystapi-client/src/pystapi_client/py.typed
  pystapi-client/src/pystapi_client/stapi_api_io.py
  pystapi-client/src/pystapi_client/version.py
  pystapi-client/src/pystapi_client/warnings.py
  stapi-pydantic/src/stapi_pydantic/py.typed
  uv.lock
Due: ruff-check, ruff-format, mypy, pymarkdown, check-toml

fix: scripts find
  scripts/validate-stapi-fastapi
Due: none

feat: add stapi-validator script (#20)
  .github/workflows/ci.yaml
  pyproject.toml
  scripts/validate-stapi-fastapi
  scripts/wait-for-it.sh
  stapi-fastapi/tests/application.py
  uv.lock
Due: ruff-check, ruff-format, mypy, check-toml, check-yaml

cleanup
  stapi-fastapi/CHANGELOG.md
  stapi-fastapi/src/stapi_fastapi/routers/product_router.py
  stapi-fastapi/src/stapi_fastapi/types/__init__.py
  stapi-fastapi/src/stapi_fastapi/types/json_schema_model.py
  stapi-fastapi/tests/conftest.py
  stapi-fastapi/tests/shared.py
  stapi-fastapi/tests/test_opportunity_async.py
Due: ruff-check, ruff-format, mypy, pymarkdown

feat: add the pystapi-validator (#8)
  pyproject.toml
  pystapi-validator/README.md
  pystapi-validator/pyproject.toml
  pystapi-validator/src/pystapi_validator/__init__.py
  pystapi-validator/tests/__init__.py
  pystapi-validator/tests/validate_api.py
  uv.lock
Due: ruff-check, ruff-format, mypy, pymarkdown, check-toml

feat: update README
  README.md
  stapi-fastapi/README.md
Due: pymarkdown

fix: uv run
  README.md
Due: pymarkdown

fix: don't symlink docs
  docs/index.md
  stapi-fastapi/README.md
Due: pymarkdown

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  pymarkdown: any of: \.(md|mdown|markdown)$, but not: ^.github/pull_request_template.md$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
