Repository stapi-spec/pystapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, mypy, pymarkdown, check-toml, check-yaml

ruff-check:
  name: Lint with ruff
  entry: uv run ruff check --fix
  language: system
  pass_filenames: false
  verbose: true

ruff-format:
  name: Format with ruff
  entry: uv run ruff format
  language: system
  pass_filenames: false
  verbose: true

mypy:
  name: Check typing with mypy
  entry: uv run mypy
  language: system
  pass_filenames: false
  verbose: true

pymarkdown:
  name: Markdownlint
  description: Run markdownlint on Markdown files
  entry: uv run pymarkdown scan
  language: system

check-toml:
  name: Check Toml
  entry: uv run check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: uv run check-yaml
  language: system

feat!: return a Page from every list backend
  stapi-fastapi/CHANGELOG.md
  stapi-fastapi/src/stapi_fastapi/__init__.py
  stapi-fastapi/src/stapi_fastapi/backends/product_backend.py
  stapi-fastapi/src/stapi_fastapi/backends/root_backend.py
  stapi-fastapi/src/stapi_fastapi/pagination.py
  stapi-fastapi/src/stapi_fastapi/routers/base.py
  stapi-fastapi/src/stapi_fastapi/routers/product_router.py
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
  stapi-fastapi/tests/backends.py
  stapi-fastapi/tests/test_order.py
Due: ruff-check, ruff-format, mypy, pymarkdown

fix: carry query params and the served media type on collection links
  stapi-fastapi/CHANGELOG.md
  stapi-fastapi/src/stapi_fastapi/routers/base.py
  stapi-fastapi/src/stapi_fastapi/routers/product_router.py
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
  stapi-fastapi/tests/test_order.py
  stapi-fastapi/tests/test_pagination.py
Due: ruff-check, ruff-format, mypy, pymarkdown

fix!: report an unusable pagination token with its own error
  stapi-fastapi/CHANGELOG.md
  stapi-fastapi/src/stapi_fastapi/errors.py
  stapi-fastapi/src/stapi_fastapi/routers/product_router.py
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
  stapi-fastapi/tests/backends.py
  stapi-fastapi/tests/test_pagination.py
Due: ruff-check, ruff-format, mypy, pymarkdown

feat!: paginate the search record statuses endpoint
  stapi-fastapi/CHANGELOG.md
  stapi-fastapi/src/stapi_fastapi/backends/root_backend.py
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
  stapi-fastapi/tests/backends.py
  stapi-fastapi/tests/shared.py
  stapi-fastapi/tests/test_openapi.py
  stapi-fastapi/tests/test_opportunity_async.py
  stapi-fastapi/tests/test_pagination.py
Due: ruff-check, ruff-format, mypy, pymarkdown

feat!: paginate the stored opportunity collection
  stapi-fastapi/CHANGELOG.md
  stapi-fastapi/src/stapi_fastapi/backends/product_backend.py
  stapi-fastapi/src/stapi_fastapi/routers/product_router.py
  stapi-fastapi/tests/backends.py
  stapi-fastapi/tests/test_pagination.py
Due: ruff-check, ruff-format, mypy, pymarkdown

feat!: reject a search whose filter omits a required queryable
  stapi-fastapi/CHANGELOG.md
  stapi-fastapi/src/stapi_fastapi/errors.py
  stapi-fastapi/src/stapi_fastapi/models/product.py
  stapi-fastapi/src/stapi_fastapi/routers/product_router.py
  stapi-fastapi/tests/shared.py
  stapi-fastapi/tests/test_opportunity.py
  stapi-fastapi/tests/test_opportunity_async.py
  stapi-fastapi/tests/test_order.py
Due: ruff-check, ruff-format, mypy, pymarkdown

fix: advertise only the conformance classes actually served
  pyproject.toml
  stapi-fastapi/CHANGELOG.md
  stapi-fastapi/src/stapi_fastapi/conformance.py
  stapi-fastapi/src/stapi_fastapi/routers/product_router.py
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
  stapi-fastapi/tests/conftest.py
  stapi-fastapi/tests/shared.py
  stapi-fastapi/tests/test_capabilities.py
  stapi-fastapi/tests/test_opportunity_async.py
Due: ruff-check, ruff-format, mypy, pymarkdown, check-toml

fix: withhold order statuses when no backend supplies them
  stapi-fastapi/CHANGELOG.md
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
  stapi-fastapi/tests/test_capabilities.py
Due: ruff-check, ruff-format, mypy, pymarkdown

feat!: publish the search-records rel and gate the statuses endpoint
  stapi-fastapi/CHANGELOG.md
  stapi-fastapi/src/stapi_fastapi/routers/product_router.py
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
  stapi-fastapi/tests/test_opportunity_async.py
Due: ruff-check, ruff-format, mypy, pymarkdown

fix: reject a product registered under an id already taken
  stapi-fastapi/CHANGELOG.md
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
  stapi-fastapi/tests/test_product.py
Due: ruff-check, ruff-format, mypy, pymarkdown

fix: send Preference-Applied whenever a Prefer header arrived
  stapi-fastapi/CHANGELOG.md
  stapi-fastapi/src/stapi_fastapi/routers/product_router.py
  stapi-fastapi/tests/test_opportunity_async.py
Due: ruff-check, ruff-format, mypy, pymarkdown

feat: declare what the opportunity search and order creation return
  stapi-fastapi/CHANGELOG.md
  stapi-fastapi/src/stapi_fastapi/routers/product_router.py
  stapi-fastapi/tests/test_openapi.py
  stapi-fastapi/tests/test_opportunity_async.py
Due: ruff-check, ruff-format, mypy, pymarkdown

fix!: type the client against the v0.2.0 models
  pystapi-client/pyproject.toml
  pystapi-client/src/pystapi_client/client.py
  uv.lock
Due: ruff-check, ruff-format, mypy, check-toml

fix!: correct the client's conformance URI matching and scope
  pystapi-client/src/pystapi_client/client.py
  pystapi-client/src/pystapi_client/conformance.py
  pystapi-client/tests/conftest.py
  pystapi-client/tests/fixtures/landing_page.json
  pystapi-client/tests/fixtures/products.json
  pystapi-client/tests/test_client.py
Due: ruff-check, ruff-format, mypy

build: cap schemathesis below 4
  pystapi-validator/pyproject.toml
  uv.lock
Due: check-toml

fix!: make the conformance gate demand an explicit document
  .github/workflows/ci.yaml
  pyproject.toml
  pystapi-validator/src/pystapi_validator/__init__.py
  pystapi-validator/tests/test_validate_api.py
  pystapi-validator/tests/validate_api.py
  scripts/validate-stapi-fastapi
Due: ruff-check, ruff-format, mypy, check-toml, check-yaml

docs: state the pagination-token contract on the backend protocols
  stapi-fastapi/src/stapi_fastapi/backends/product_backend.py
  stapi-fastapi/src/stapi_fastapi/backends/root_backend.py
  stapi-fastapi/src/stapi_fastapi/routers/base.py
  stapi-fastapi/src/stapi_fastapi/routers/product_router.py
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
  stapi-pydantic/src/stapi_pydantic/__init__.py
Due: ruff-check, ruff-format, mypy

build: type-check the test suites
  .pre-commit-config.yaml
  pyproject.toml
  scripts/run-mypy.sh
  stapi-fastapi/tests/application.py
  stapi-fastapi/tests/backends.py
  stapi-fastapi/tests/conftest.py
  stapi-fastapi/tests/shared.py
  stapi-fastapi/tests/test_capabilities.py
  stapi-fastapi/tests/test_datetime_interval.py
  stapi-fastapi/tests/test_openapi.py
  stapi-fastapi/tests/test_opportunity.py
  stapi-fastapi/tests/test_opportunity_async.py
  stapi-fastapi/tests/test_order.py
  stapi-fastapi/tests/test_pagination.py
  stapi-fastapi/tests/test_product.py
  stapi-fastapi/tests/test_root.py
  stapi-pydantic/tests/test_opportunity.py
  stapi-pydantic/tests/test_order.py
  stapi-pydantic/tests/test_product.py
  stapi-pydantic/tests/test_shared.py
Due: ruff-check, ruff-format, mypy, check-toml, check-yaml

docs: record the 0.2.0 and 0.9.0 releases with migration guides
  stapi-fastapi/CHANGELOG.md
  stapi-pydantic/CHANGELOG.md
Due: pymarkdown

docs: state what the tests check, not what they used to catch
  pystapi-client/tests/conftest.py
  pystapi-validator/README.md
  stapi-fastapi/tests/shared.py
  stapi-fastapi/tests/test_opportunity.py
  stapi-fastapi/tests/test_pagination.py
Due: ruff-check, ruff-format, mypy, pymarkdown

feat: add pystapi-schema-generator, the reference app and OpenAPI export
  pyproject.toml
  pystapi-schema-generator/README.md
  pystapi-schema-generator/pyproject.toml
  pystapi-schema-generator/src/pystapi_schema_generator/__init__.py
  pystapi-schema-generator/src/pystapi_schema_generator/application.py
  pystapi-schema-generator/src/pystapi_schema_generator/py.typed
  pystapi-schema-generator/tests/test_application.py
  scripts/run-mypy.sh
  scripts/run-tests.sh
  uv.lock
Due: ruff-check, ruff-format, mypy, pymarkdown, check-toml

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  pymarkdown: any of: \.(md|mdown|markdown)$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$, but not: ^mkdocs.yml$
