Repository stapi-spec/pystapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, mypy, pymarkdown, check-toml, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:

      - id: ruff-check
        name: Lint with ruff
        entry: uv run ruff check --fix
        language: system
        types: [python]
        pass_filenames: false
        verbose: true

      - id: ruff-format
        name: Format with ruff
        entry: uv run ruff format
        language: system
        types: [python]
        pass_filenames: false
        verbose: true

      - id: mypy
        name: Check typing with mypy
        entry: uv run mypy
        language: system
        types: [python]
        pass_filenames: false
        verbose: true

      - id: pymarkdown
        name: Markdownlint
        description: Run markdownlint on Markdown files
        entry: uv run pymarkdown scan
        language: system
        files: \.(md|mdown|markdown)$

      - id: check-added-large-files
        name: Check for added large files
        entry: uv run check-added-large-files
        language: system

      - id: check-toml
        name: Check Toml
        entry: uv run check-toml
        language: system
        types: [toml]

      - id: check-yaml
        name: Check Yaml
        entry: uv run check-yaml
        language: system
        types: [yaml]
        exclude: ^mkdocs.yml$

      - id: mixed-line-ending
        name: Check mixed line endings
        entry: uv run mixed-line-ending
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]

      - id: end-of-file-fixer
        name: Fix End of Files
        entry: uv run end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]

      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: uv run trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]

      - id: check-merge-conflict
        name: Check merge conflicts
        entry: uv run check-merge-conflict
        language: system

      - id: no-commit-to-branch
        name: Check not committting to main
        entry: uv run no-commit-to-branch
        language: system
        args: ["--branch", "main"]
        pass_filenames: false

some progress
  pystapi-schema-generator/pyproject.toml
  pystapi-schema-generator/src/pystapi_schema_generator/application.py
  pystapi-schema-generator/src/pystapi_schema_generator/router.py
  stapi-pydantic/src/stapi_pydantic/conformance.py
  stapi-pydantic/src/stapi_pydantic/root.py
Due: ruff-check, ruff-format, mypy, check-toml

some more progress
  pystapi-schema-generator/src/pystapi_schema_generator/application.py
  pystapi-schema-generator/src/pystapi_schema_generator/product_router.py
  pystapi-schema-generator/src/pystapi_schema_generator/router.py
Due: ruff-check, ruff-format, mypy

make linter happy
  pystapi-schema-generator/pyproject.toml
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
  uv.lock
Due: ruff-check, ruff-format, mypy, check-toml

reset to main
  stapi-pydantic/src/stapi_pydantic/order.py
  stapi-pydantic/src/stapi_pydantic/product.py
  stapi-pydantic/src/stapi_pydantic/shared.py
Due: ruff-check, ruff-format, mypy

reset t omain
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
Due: ruff-check, ruff-format, mypy

progress
  pystapi-schema-generator/src/pystapi_schema_generator/product_router.py
  pystapi-schema-generator/src/pystapi_schema_generator/root_router.py
  pystapi-schema-generator/src/pystapi_schema_generator/router.py
Due: ruff-check, ruff-format, mypy

fix
  pystapi-schema-generator/src/pystapi_schema_generator/application.py
Due: ruff-check, ruff-format, mypy

progress
  pystapi-schema-generator/src/pystapi_schema_generator/application.py
  pystapi-schema-generator/src/pystapi_schema_generator/product_router.py
  pystapi-schema-generator/src/pystapi_schema_generator/root_router.py
Due: ruff-check, ruff-format, mypy

a lot of progress
  pystapi-schema-generator/src/pystapi_schema_generator/__init__.py
  pystapi-schema-generator/src/pystapi_schema_generator/application.py
  pystapi-schema-generator/src/pystapi_schema_generator/product_router.py
  pystapi-schema-generator/src/pystapi_schema_generator/root_router.py
Due: ruff-check, ruff-format, mypy

++
  pystapi-schema-generator/src/pystapi_schema_generator/application.py
  pystapi-schema-generator/src/pystapi_schema_generator/product_router.py
  pystapi-schema-generator/src/pystapi_schema_generator/root_router.py
Due: ruff-check, ruff-format, mypy

+
  pystapi-schema-generator/src/pystapi_schema_generator/root_router.py
Due: ruff-check, ruff-format, mypy

enough
  pystapi-schema-generator/src/pystapi_schema_generator/application.py
  pystapi-schema-generator/src/pystapi_schema_generator/product_router.py
  pystapi-schema-generator/src/pystapi_schema_generator/root_router.py
Due: ruff-check, ruff-format, mypy

add some more stuff
  pystapi-schema-generator/pyproject.toml
  pystapi-schema-generator/src/pystapi_schema_generator/application.py
Due: ruff-check, ruff-format, mypy, check-toml

fix: json schema for datetime
  stapi-pydantic/src/stapi_pydantic/datetime_interval.py
  stapi-pydantic/src/stapi_pydantic/order.py
  stapi-pydantic/tests/test_json_schema.py
Due: ruff-check, ruff-format, mypy

fix: json schema for datetime (#114)
  stapi-pydantic/src/stapi_pydantic/datetime_interval.py
  stapi-pydantic/src/stapi_pydantic/order.py
  stapi-pydantic/tests/test_json_schema.py
Due: ruff-check, ruff-format, mypy

feat: add OrderStatus.new
  stapi-pydantic/src/stapi_pydantic/order.py
  stapi-pydantic/tests/test_order.py
Due: ruff-check, ruff-format, mypy

chore: update changelog
  stapi-pydantic/CHANGELOG.md
Due: pymarkdown

feat: add OrderStatus.new (#116)
  stapi-pydantic/CHANGELOG.md
  stapi-pydantic/src/stapi_pydantic/order.py
  stapi-pydantic/tests/test_order.py
Due: ruff-check, ruff-format, mypy, pymarkdown

release: stapi-pydantic v0.0.4
  stapi-pydantic/CHANGELOG.md
  stapi-pydantic/pyproject.toml
  uv.lock
Due: pymarkdown, check-toml

fix: changelog
  stapi-pydantic/CHANGELOG.md
Due: pymarkdown

release: stapi-pydantic v0.0.4 (#118)
  stapi-pydantic/CHANGELOG.md
  stapi-pydantic/pyproject.toml
  uv.lock
Due: pymarkdown, check-toml

refactor method url_for in ProductRouter and RootRouter
  stapi-fastapi/src/stapi_fastapi/routers/product_router.py
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
  stapi-pydantic/CHANGELOG.md
Due: ruff-check, ruff-format, mypy, pymarkdown

update url_for in several other places
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
Due: ruff-check, ruff-format, mypy

refactor method url_for in ProductRouter and RootRouter (#120)
  stapi-fastapi/src/stapi_fastapi/routers/product_router.py
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
  stapi-pydantic/CHANGELOG.md
Due: ruff-check, ruff-format, mypy, pymarkdown

made geometry and datetime optional on OrderPayload
  stapi-pydantic/CHANGELOG.md
  stapi-pydantic/src/stapi_pydantic/order.py
Due: ruff-check, ruff-format, mypy, pymarkdown

linter changes
  stapi-pydantic/CHANGELOG.md
Due: pymarkdown

add support for numberMatched in Orders response
  stapi-fastapi/CHANGELOG.md
  stapi-fastapi/pyproject.toml
  stapi-fastapi/src/stapi_fastapi/backends/root_backend.py
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
  stapi-fastapi/tests/backends.py
  stapi-fastapi/tests/test_datetime_interval.py
  stapi-fastapi/tests/test_order.py
  stapi-pydantic/CHANGELOG.md
  stapi-pydantic/pyproject.toml
  stapi-pydantic/src/stapi_pydantic/order.py
  uv.lock
Due: ruff-check, ruff-format, mypy, pymarkdown, check-toml

add link references in changelogs
  stapi-fastapi/CHANGELOG.md
  stapi-pydantic/CHANGELOG.md
Due: pymarkdown

change numberMatched not to be an alias
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
  stapi-pydantic/src/stapi_pydantic/order.py
Due: ruff-check, ruff-format, mypy

fix pagination links
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
Due: ruff-check, ruff-format, mypy

update changelog
  stapi-fastapi/CHANGELOG.md
  stapi-pydantic/CHANGELOG.md
Due: pymarkdown

use number_matched alias
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
  stapi-pydantic/src/stapi_pydantic/order.py
Due: ruff-check, ruff-format, mypy

refactor url_for
  .pre-commit-config.yaml
  stapi-fastapi/src/stapi_fastapi/routers/base.py
  stapi-fastapi/src/stapi_fastapi/routers/product_router.py
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
  stapi-pydantic/src/stapi_pydantic/shared.py
Due: ruff-check, ruff-format, mypy, check-yaml

remove fastapi[standard] from dev dependencies
  pyproject.toml
  uv.lock
Due: check-toml

refactor build to install only the defined dependencies of each workspace before tests
  .github/pull_request_template.md
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  README.md
  pyproject.toml
  pystapi-client/pyproject.toml
  scripts/run-tests.sh
  scripts/validate-stapi-fastapi
  stapi-fastapi/pyproject.toml
  stapi-pydantic/pyproject.toml
  uv.lock
Due: pymarkdown, check-toml, check-yaml

move types-click
  pyproject.toml
  pystapi-client/pyproject.toml
  uv.lock
Due: check-toml

add echo in test run script
  scripts/run-tests.sh
Due: none

refactor use of starlette.datastructures.URL
  stapi-fastapi/src/stapi_fastapi/routers/product_router.py
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
  stapi-fastapi/src/stapi_fastapi/routers/utils.py
  stapi-pydantic/src/stapi_pydantic/shared.py
Due: ruff-check, ruff-format, mypy

rework Link
  stapi-fastapi/src/stapi_fastapi/routers/product_router.py
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
  stapi-fastapi/src/stapi_fastapi/routers/utils.py
  stapi-pydantic/src/stapi_pydantic/shared.py
Due: ruff-check, ruff-format, mypy

refactor use of starlette.datastructures with fastapi re-exports
  stapi-fastapi/src/stapi_fastapi/routers/base.py
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
  stapi-fastapi/src/stapi_fastapi/routers/utils.py
Due: ruff-check, ruff-format, mypy
