Repository stapi-spec/pystapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, mypy, pymarkdown, check-toml, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:

      - id: ruff-check
        name: Lint with ruff
        entry: uv run ruff check --fix
        language: system
        types: [python]
        pass_filenames: false
        verbose: true

      - id: ruff-format
        name: Format with ruff
        entry: uv run ruff format
        language: system
        types: [python]
        pass_filenames: false
        verbose: true

      - id: mypy
        name: Check typing with mypy
        entry: uv run mypy
        language: system
        types: [python]
        pass_filenames: false
        verbose: true

      - id: pymarkdown
        name: Markdownlint
        description: Run markdownlint on Markdown files
        entry: uv run pymarkdown scan
        language: system
        files: \.(md|mdown|markdown)$

      - id: check-added-large-files
        name: Check for added large files
        entry: uv run check-added-large-files
        language: system

      - id: check-toml
        name: Check Toml
        entry: uv run check-toml
        language: system
        types: [toml]

      - id: check-yaml
        name: Check Yaml
        entry: uv run check-yaml
        language: system
        types: [yaml]
        exclude: ^mkdocs.yml$

      - id: mixed-line-ending
        name: Check mixed line endings
        entry: uv run mixed-line-ending
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]

      - id: end-of-file-fixer
        name: Fix End of Files
        entry: uv run end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]

      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: uv run trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]

      - id: check-merge-conflict
        name: Check merge conflicts
        entry: uv run check-merge-conflict
        language: system

      - id: no-commit-to-branch
        name: Check not committting to main
        entry: uv run no-commit-to-branch
        language: system
        args: ["--branch", "main"]
        pass_filenames: false

feat: add notes about vanilla server (#23)
  README.md
  docs/index.md
  stapi-fastapi/README.md
Due: pymarkdown

feat: add contribution guidelines
  .github/pull_request_template.md
  CONTRIBUTING.md
  README.md
  pyproject.toml
Due: pymarkdown, check-toml

feat: add contribution guidelines (#25)
  .github/pull_request_template.md
  CONTRIBUTING.md
  README.md
  pyproject.toml
Due: pymarkdown, check-toml

feat: add a badge
  README.md
Due: pymarkdown

refactor: rename errors to exceptions
  stapi-fastapi/src/stapi_fastapi/backends/product_backend.py
  stapi-fastapi/src/stapi_fastapi/errors.py
  stapi-fastapi/src/stapi_fastapi/routers/product_router.py
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
Due: ruff-check, ruff-format, mypy

chore: update changelog
  stapi-fastapi/CHANGELOG.md
Due: pymarkdown

chore: relax markdown linting
  .github/pull_request_template.md
  pyproject.toml
Due: pymarkdown, check-toml

chore: relax markdown linting (#42)
  .github/pull_request_template.md
  pyproject.toml
Due: pymarkdown, check-toml

fix api validation
  stapi-fastapi/tests/application.py
Due: ruff-check, ruff-format, mypy

lint
  stapi-fastapi/tests/application.py
Due: ruff-check, ruff-format, mypy

Update stapi-fastapi/CHANGELOG.md
  stapi-fastapi/CHANGELOG.md
Due: pymarkdown

feat: use stapi pydantic in stapi fastapi (#22)
  stapi-fastapi/CHANGELOG.md
  stapi-fastapi/src/stapi_fastapi/backends/product_backend.py
  stapi-fastapi/src/stapi_fastapi/backends/root_backend.py
  stapi-fastapi/src/stapi_fastapi/models/__init__.py
  stapi-fastapi/src/stapi_fastapi/models/conformance.py
  stapi-fastapi/src/stapi_fastapi/models/constraints.py
  stapi-fastapi/src/stapi_fastapi/models/opportunity.py
  stapi-fastapi/src/stapi_fastapi/models/order.py
  stapi-fastapi/src/stapi_fastapi/models/product.py
  stapi-fastapi/src/stapi_fastapi/models/root.py
  stapi-fastapi/src/stapi_fastapi/models/shared.py
  stapi-fastapi/src/stapi_fastapi/routers/product_router.py
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
  stapi-fastapi/src/stapi_fastapi/types/__init__.py
  stapi-fastapi/src/stapi_fastapi/types/datetime_interval.py
  stapi-fastapi/src/stapi_fastapi/types/filter.py
  stapi-fastapi/src/stapi_fastapi/types/json_schema_model.py
  stapi-fastapi/tests/application.py
  stapi-fastapi/tests/backends.py
  stapi-fastapi/tests/conftest.py
  stapi-fastapi/tests/shared.py
  stapi-fastapi/tests/test_conformance.py
  stapi-fastapi/tests/test_datetime_interval.py
  stapi-fastapi/tests/test_opportunity.py
  stapi-fastapi/tests/test_opportunity_async.py
  stapi-fastapi/tests/test_order.py
  stapi-fastapi/tests/test_root.py
  stapi-pydantic/src/stapi_pydantic/shared.py
Due: ruff-check, ruff-format, mypy, pymarkdown

fix: remove coverage, error on warnings
  pyproject.toml
  uv.lock
Due: check-toml

fix: remove coverage, error on warnings (#49)
  pyproject.toml
  uv.lock
Due: check-toml

first version Dockerfile
  Dockerfile
Due: none

reduce file list copied over to the image
  .dockerignore
  Dockerfile
Due: none

refactor: move some pydantic models around
  stapi-fastapi/src/stapi_fastapi/__init__.py
  stapi-fastapi/src/stapi_fastapi/backends/product_backend.py
  stapi-fastapi/src/stapi_fastapi/backends/root_backend.py
  stapi-fastapi/src/stapi_fastapi/conformance.py
  stapi-fastapi/src/stapi_fastapi/models/__init__.py
  stapi-fastapi/src/stapi_fastapi/models/product.py
  stapi-fastapi/src/stapi_fastapi/models/root.py
  stapi-fastapi/src/stapi_fastapi/routers/product_router.py
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
  stapi-fastapi/tests/application.py
  stapi-fastapi/tests/backends.py
  stapi-fastapi/tests/conftest.py
  stapi-fastapi/tests/shared.py
  stapi-fastapi/tests/test_conformance.py
  stapi-fastapi/tests/test_datetime_interval.py
  stapi-fastapi/tests/test_opportunity.py
  stapi-fastapi/tests/test_opportunity_async.py
  stapi-fastapi/tests/test_order.py
  stapi-fastapi/tests/test_root.py
  stapi-pydantic/src/stapi_pydantic/__init__.py
  stapi-pydantic/src/stapi_pydantic/conformance.py
Due: ruff-check, ruff-format, mypy

first test of the github action
  .github/workflows/docker_image.yaml
Due: check-yaml

chore: update changelog
  stapi-pydantic/CHANGELOG.md
Due: pymarkdown

move the image build to ci yaml
  .github/workflows/ci.yaml
  .github/workflows/docker_image.yaml
Due: check-yaml

forward python version
  .github/workflows/ci.yaml
Due: check-yaml

make linter happy
  .dockerignore
  Dockerfile
Due: none

remove validator
  .dockerignore
Due: none

test push
  .github/workflows/ci.yaml
Due: check-yaml

fix path
  .github/workflows/ci.yaml
Due: check-yaml

make the test work
  .github/workflows/ci.yaml
Due: check-yaml

move to release wokflow
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Due: check-yaml

make linter happy
  .github/workflows/release.yaml
Due: check-yaml

fix: changelog
  stapi-pydantic/CHANGELOG.md
Due: pymarkdown

refactor: move some pydantic models around (#51)
  stapi-fastapi/src/stapi_fastapi/__init__.py
  stapi-fastapi/src/stapi_fastapi/backends/product_backend.py
  stapi-fastapi/src/stapi_fastapi/backends/root_backend.py
  stapi-fastapi/src/stapi_fastapi/conformance.py
  stapi-fastapi/src/stapi_fastapi/models/__init__.py
  stapi-fastapi/src/stapi_fastapi/models/product.py
  stapi-fastapi/src/stapi_fastapi/models/root.py
  stapi-fastapi/src/stapi_fastapi/routers/product_router.py
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
  stapi-fastapi/tests/application.py
  stapi-fastapi/tests/backends.py
  stapi-fastapi/tests/conftest.py
  stapi-fastapi/tests/shared.py
  stapi-fastapi/tests/test_conformance.py
  stapi-fastapi/tests/test_datetime_interval.py
  stapi-fastapi/tests/test_opportunity.py
  stapi-fastapi/tests/test_opportunity_async.py
  stapi-fastapi/tests/test_order.py
  stapi-fastapi/tests/test_root.py
  stapi-pydantic/CHANGELOG.md
  stapi-pydantic/src/stapi_pydantic/__init__.py
  stapi-pydantic/src/stapi_pydantic/conformance.py
Due: ruff-check, ruff-format, mypy, pymarkdown

feat: add stapi type and version
  stapi-fastapi/src/stapi_fastapi/conformance.py
  stapi-pydantic/src/stapi_pydantic/constants.py
  stapi-pydantic/src/stapi_pydantic/order.py
  stapi-pydantic/src/stapi_pydantic/product.py
Due: ruff-check, ruff-format, mypy

feat: fix names
  stapi-pydantic/src/stapi_pydantic/product.py
Due: ruff-check, ruff-format, mypy

Rename Docker Job
  .github/workflows/release.yaml
Due: check-yaml

Remove newlines
  .github/workflows/release.yaml
Due: check-yaml

only run for fastapi
  .github/workflows/release.yaml
Due: check-yaml

Work in progress to move the validation to stapi fastapi
  stapi-fastapi/pyproject.toml
  stapi-fastapi/tests/conftest.py
  stapi-fastapi/tests/test_api_validation.py
  uv.lock
Due: ruff-check, ruff-format, mypy, check-toml

Cleanup stac client refs and add products methods to client
  pystapi-client/src/pystapi_client/_utils.py
  pystapi-client/src/pystapi_client/cli.py
  pystapi-client/src/pystapi_client/client.py
  pystapi-client/src/pystapi_client/collection_client.py
  pystapi-client/src/pystapi_client/collection_search.py
  pystapi-client/src/pystapi_client/errors.py
  pystapi-client/src/pystapi_client/exceptions.py
  pystapi-client/src/pystapi_client/item_search.py
  pystapi-client/src/pystapi_client/layout.py
  pystapi-client/src/pystapi_client/mixins.py
  pystapi-client/src/pystapi_client/stapi_api_io.py
  pystapi-client/src/pystapi_client/warnings.py
  stapi-pydantic/src/stapi_pydantic/product.py
Due: ruff-check, ruff-format, mypy

Add OrderStatusCode values to reflect failure modes for orders
  stapi-pydantic/src/stapi_pydantic/order.py
Due: ruff-check, ruff-format, mypy
