Repository stapi-spec/pystapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, mypy, pymarkdown, check-toml, check-yaml

ruff-check:
  name: Lint with ruff
  entry: uv run ruff check --fix
  language: system
  pass_filenames: false
  verbose: true

ruff-format:
  name: Format with ruff
  entry: uv run ruff format
  language: system
  pass_filenames: false
  verbose: true

mypy:
  name: Check typing with mypy
  entry: uv run mypy
  language: system
  pass_filenames: false
  verbose: true

pymarkdown:
  name: Markdownlint
  description: Run markdownlint on Markdown files
  entry: uv run pymarkdown scan
  language: system

check-toml:
  name: Check Toml
  entry: uv run check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: uv run check-yaml
  language: system

feat: comment
  stapi-fastapi/src/stapi_fastapi/conformance.py
Due: ruff-check, ruff-format, mypy

fix: remove spurious TODO
  stapi-fastapi/src/stapi_fastapi/models/product.py
Due: ruff-check, ruff-format, mypy

fix: application
  stapi-fastapi/tests/application.py
Due: ruff-check, ruff-format, mypy

docs: rework the readme
  README.md
Due: pymarkdown

refactor: opinionated tweaks to pystapi-client tests
  pystapi-client/tests/conftest.py
  pystapi-client/tests/fixtures/landing_page.json
  pystapi-client/tests/fixtures/products.json
  pystapi-client/tests/test_client.py
Due: ruff-check, ruff-format, mypy

docs: rework the readme (#91)
  README.md
Due: pymarkdown

fix: pr template command
  .github/pull_request_template.md
Due: pymarkdown

refactor: opinionated tweaks to pystapi-client tests (#92)
  pystapi-client/tests/conftest.py
  pystapi-client/tests/fixtures/landing_page.json
  pystapi-client/tests/fixtures/products.json
  pystapi-client/tests/test_client.py
Due: ruff-check, ruff-format, mypy

docs: clean up the docs a bit
  docs/index.md
  docs/pystapi-client.md
  docs/pystapi-client/api.md
  docs/pystapi-client/index.md
  docs/stapi-fastapi.md
  docs/stapi-pydantic.md
  docs/stapi-pydantic/api.md
  docs/stapi-pydantic/index.md
  mkdocs.yml
Due: pymarkdown

docs: clean up the docs a bit (#93)
  docs/index.md
  docs/pystapi-client.md
  docs/pystapi-client/api.md
  docs/pystapi-client/index.md
  docs/stapi-fastapi.md
  docs/stapi-pydantic.md
  docs/stapi-pydantic/api.md
  docs/stapi-pydantic/index.md
  mkdocs.yml
Due: pymarkdown

docs: add badges
  README.md
Due: pymarkdown

simpler json output, send errors to err
  pystapi-client/pyproject.toml
  pystapi-client/src/pystapi_client/scripts/cli.py
Due: ruff-check, ruff-format, mypy, check-toml

reformat for linter
  pystapi-client/src/pystapi_client/scripts/cli.py
  pystapi-client/src/pystapi_client/stapi_api_io.py
Due: ruff-check, ruff-format, mypy

Update pyproject.toml
  pyproject.toml
Due: check-toml

Update pystapi-client/pyproject.toml
  pystapi-client/pyproject.toml
Due: check-toml

add cli with 5 commands: product, products, order, orders, opportunities (#88)
  pyproject.toml
  pystapi-client/pyproject.toml
  pystapi-client/src/pystapi_client/client.py
  pystapi-client/src/pystapi_client/scripts/cli.py
  pystapi-client/src/pystapi_client/stapi_api_io.py
  pystapi-client/src/pystapi_client/warns.py
  uv.lock
Due: ruff-check, ruff-format, mypy, check-toml

fix: relax some checks
  stapi-fastapi/src/stapi_fastapi/models/product.py
  stapi-fastapi/src/stapi_fastapi/routers/product_router.py
  uv.lock
Due: ruff-check, ruff-format, mypy

proposed rework of conformances
  stapi-fastapi/CHANGELOG.md
  stapi-fastapi/src/stapi_fastapi/routers/product_router.py
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
  stapi-fastapi/tests/test_conformance.py
  stapi-fastapi/tests/test_root.py
Due: ruff-check, ruff-format, mypy, pymarkdown

set comparison on conformance tests to ignore order
  stapi-fastapi/tests/test_conformance.py
  stapi-fastapi/tests/test_root.py
Due: ruff-check, ruff-format, mypy

feat: v0.1 conformances (#90)
  stapi-fastapi/CHANGELOG.md
  stapi-fastapi/src/stapi_fastapi/conformance.py
  stapi-fastapi/src/stapi_fastapi/routers/product_router.py
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
  stapi-fastapi/tests/application.py
  stapi-fastapi/tests/conftest.py
  stapi-fastapi/tests/shared.py
  stapi-fastapi/tests/test_conformance.py
  stapi-fastapi/tests/test_root.py
  uv.lock
Due: ruff-check, ruff-format, mypy, pymarkdown

remove types-click from parent pyproject.toml
  uv.lock
Due: none

make DatetimeInterval RFC 3339 compliant
  stapi-pydantic/src/stapi_pydantic/datetime_interval.py
  stapi-pydantic/tests/test_datetime_interval.py
Due: ruff-check, ruff-format, mypy

prep stapi-fastapi release v0.7.0
  stapi-fastapi/CHANGELOG.md
Due: pymarkdown

fix: add note about version to RELEASING
  RELEASING.md
Due: pymarkdown

update pyporject.toml version
  stapi-fastapi/pyproject.toml
  uv.lock
Due: check-toml

prep stapi-fastapi release v0.7.0 (#96)
  RELEASING.md
  stapi-fastapi/CHANGELOG.md
  stapi-fastapi/pyproject.toml
  uv.lock
Due: pymarkdown, check-toml

fix: remove docker from release
  .github/workflows/release.yaml
Due: check-yaml

fix: remove docker from release (#102)
  .github/workflows/release.yaml
Due: check-yaml

add a couple more tests to datetime interval; synch pytest versions
  pyproject.toml
  stapi-pydantic/pyproject.toml
  stapi-pydantic/tests/test_datetime_interval.py
  uv.lock
Due: ruff-check, ruff-format, mypy, check-toml

reformat
  stapi-pydantic/tests/test_datetime_interval.py
Due: ruff-check, ruff-format, mypy

stapi-pydantic release prep 0.0.3
  stapi-pydantic/CHANGELOG.md
  stapi-pydantic/pyproject.toml
Due: pymarkdown, check-toml

changelog
  stapi-pydantic/CHANGELOG.md
Due: pymarkdown

stapi-pydantic release prep 0.0.3 (#105)
  stapi-pydantic/CHANGELOG.md
  stapi-pydantic/pyproject.toml
Due: pymarkdown, check-toml

add stapi-pydantic to the stapi-fastapi dependencies
  stapi-fastapi/CHANGELOG.md
  stapi-fastapi/pyproject.toml
  uv.lock
Due: pymarkdown, check-toml

add stapi-pydantic to the stapi-fastapi dependencies (#106)
  stapi-fastapi/CHANGELOG.md
  stapi-fastapi/pyproject.toml
  uv.lock
Due: pymarkdown, check-toml

release stapi-fastapi 0.7.1 with stapi-pydantic dependency
  stapi-fastapi/CHANGELOG.md
  stapi-fastapi/pyproject.toml
  uv.lock
Due: pymarkdown, check-toml

release stapi-fastapi 0.7.1 with stapi-pydantic dependency (#107)
  stapi-fastapi/CHANGELOG.md
  stapi-fastapi/pyproject.toml
  uv.lock
Due: pymarkdown, check-toml

update dependecies
  pystapi-schema-generator/pyproject.toml
  uv.lock
Due: check-toml

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  pymarkdown: any of: \.(md|mdown|markdown)$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$, but not: ^mkdocs.yml$
