Repository stapi-spec/pystapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, mypy, pymarkdown, check-toml, check-yaml

ruff-check:
  name: Lint with ruff
  entry: uv run ruff check --fix
  language: system
  pass_filenames: false
  verbose: true

ruff-format:
  name: Format with ruff
  entry: uv run ruff format
  language: system
  pass_filenames: false
  verbose: true

mypy:
  name: Check typing with mypy
  entry: uv run mypy
  language: system
  pass_filenames: false
  verbose: true

pymarkdown:
  name: Markdownlint
  description: Run markdownlint on Markdown files
  entry: uv run pymarkdown scan
  language: system

check-toml:
  name: Check Toml
  entry: uv run check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: uv run check-yaml
  language: system

stapi-fastapi 0.8.0 and stapi-pydantic 0.1.0 release prep
  stapi-fastapi/CHANGELOG.md
  stapi-fastapi/pyproject.toml
  stapi-pydantic/CHANGELOG.md
Due: pymarkdown, check-toml

add typing to support variable OrderStatus objects
  stapi-fastapi/src/stapi_fastapi/backends/root_backend.py
  stapi-fastapi/src/stapi_fastapi/routers/product_router.py
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
Due: ruff-check, ruff-format, mypy

better types
  stapi-fastapi/src/stapi_fastapi/backends/root_backend.py
  stapi-fastapi/src/stapi_fastapi/routers/product_router.py
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
  stapi-pydantic/src/stapi_pydantic/order.py
Due: ruff-check, ruff-format, mypy

rework imports, etc
  stapi-fastapi/src/stapi_fastapi/backends/root_backend.py
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
  stapi-pydantic/src/stapi_pydantic/__init__.py
  stapi-pydantic/tests/test_json_schema.py
Due: ruff-check, ruff-format, mypy

update docstrings
  stapi-fastapi/src/stapi_fastapi/backends/root_backend.py
Due: ruff-check, ruff-format, mypy

Any type
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
Due: ruff-check, ruff-format, mypy

convert to classes
  stapi-fastapi/src/stapi_fastapi/backends/__init__.py
  stapi-fastapi/src/stapi_fastapi/backends/root_backend.py
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
  stapi-fastapi/tests/application.py
  stapi-fastapi/tests/backends.py
  stapi-fastapi/tests/conftest.py
Due: ruff-check, ruff-format, mypy

add osb
  stapi-fastapi/src/stapi_fastapi/routers/product_router.py
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
Due: ruff-check, ruff-format, mypy

change next to next_
  stapi-fastapi/src/stapi_fastapi/backends/root_backend.py
Due: ruff-check, ruff-format, mypy

change names back to net
  stapi-fastapi/src/stapi_fastapi/backends/root_backend.py
Due: ruff-check, ruff-format, mypy

change conformances
  stapi-fastapi/src/stapi_fastapi/routers/product_router.py
Due: ruff-check, ruff-format, mypy

update changelog
  stapi-fastapi/CHANGELOG.md
Due: pymarkdown

feat!: bump STAPI_VERSION to 0.2.0 and export it
  stapi-pydantic/CHANGELOG.md
  stapi-pydantic/pyproject.toml
  stapi-pydantic/src/stapi_pydantic/__init__.py
  stapi-pydantic/src/stapi_pydantic/constants.py
  uv.lock
Due: ruff-check, ruff-format, mypy, pymarkdown, check-toml

refactor!: hold a JSON Schema in a model instead of annotating a class
  stapi-fastapi/src/stapi_fastapi/routers/product_router.py
  stapi-pydantic/CHANGELOG.md
  stapi-pydantic/src/stapi_pydantic/__init__.py
  stapi-pydantic/src/stapi_pydantic/json_schema.py
  stapi-pydantic/src/stapi_pydantic/json_schema_model.py
  stapi-pydantic/tests/test_json_schema.py
Due: ruff-check, ruff-format, mypy, pymarkdown

feat: report the queryables a filter must supply a predicate for
  stapi-pydantic/CHANGELOG.md
  stapi-pydantic/src/stapi_pydantic/queryables.py
  stapi-pydantic/tests/test_queryables.py
Due: ruff-check, ruff-format, mypy, pymarkdown

feat!: narrow Geometry to the six types the spec enumerates
  stapi-fastapi/src/stapi_fastapi/routers/product_router.py
  stapi-pydantic/CHANGELOG.md
  stapi-pydantic/src/stapi_pydantic/__init__.py
  stapi-pydantic/src/stapi_pydantic/geometry.py
  stapi-pydantic/src/stapi_pydantic/opportunity.py
  stapi-pydantic/src/stapi_pydantic/order.py
Due: ruff-check, ruff-format, mypy, pymarkdown

feat!: allow a datetime interval to be open at one end
  stapi-fastapi/tests/test_datetime_interval.py
  stapi-pydantic/CHANGELOG.md
  stapi-pydantic/src/stapi_pydantic/__init__.py
  stapi-pydantic/src/stapi_pydantic/datetime_interval.py
  stapi-pydantic/src/stapi_pydantic/opportunity.py
Due: ruff-check, ruff-format, mypy, pymarkdown

fix!: reject a malformed CQL2 filter as a validation error
  stapi-pydantic/CHANGELOG.md
  stapi-pydantic/src/stapi_pydantic/__init__.py
  stapi-pydantic/src/stapi_pydantic/filter.py
  stapi-pydantic/tests/test_filter.py
Due: ruff-check, ruff-format, mypy, pymarkdown

feat: add SearchParameters, the shared Search Parameters Object
  stapi-pydantic/CHANGELOG.md
  stapi-pydantic/src/stapi_pydantic/__init__.py
  stapi-pydantic/src/stapi_pydantic/search_parameters.py
  stapi-pydantic/tests/test_search_parameters.py
Due: ruff-check, ruff-format, mypy, pymarkdown

fix!: omit unset Link fields from every dump, not only JSON
  stapi-pydantic/CHANGELOG.md
  stapi-pydantic/src/stapi_pydantic/shared.py
  stapi-pydantic/tests/test_shared.py
Due: ruff-check, ruff-format, mypy, pymarkdown

feat!: serialize response models by alias and declare one conformsTo
  stapi-fastapi/src/stapi_fastapi/models/root.py
  stapi-fastapi/src/stapi_fastapi/routers/product_router.py
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
  stapi-fastapi/tests/conftest.py
  stapi-fastapi/tests/shared.py
  stapi-pydantic/CHANGELOG.md
  stapi-pydantic/src/stapi_pydantic/conformance.py
  stapi-pydantic/src/stapi_pydantic/product.py
  stapi-pydantic/src/stapi_pydantic/root.py
  stapi-pydantic/src/stapi_pydantic/shared.py
  stapi-pydantic/tests/test_product.py
  stapi-pydantic/tests/test_shared.py
Due: ruff-check, ruff-format, mypy, pymarkdown

feat!: rename ProductsCollection to ProductCollection
  pystapi-client/src/pystapi_client/client.py
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
  stapi-fastapi/tests/test_product.py
  stapi-pydantic/CHANGELOG.md
  stapi-pydantic/src/stapi_pydantic/__init__.py
  stapi-pydantic/src/stapi_pydantic/product.py
  stapi-pydantic/tests/test_product.py
Due: ruff-check, ruff-format, mypy, pymarkdown

feat: split order parameters into a permissive base and a strict subclass
  stapi-pydantic/CHANGELOG.md
  stapi-pydantic/src/stapi_pydantic/__init__.py
  stapi-pydantic/src/stapi_pydantic/order.py
  stapi-pydantic/tests/test_order.py
Due: ruff-check, ruff-format, mypy, pymarkdown

feat!: compose SearchParameters into the opportunity and order requests
  pystapi-client/src/pystapi_client/client.py
  stapi-fastapi/src/stapi_fastapi/backends/product_backend.py
  stapi-fastapi/src/stapi_fastapi/routers/product_router.py
  stapi-fastapi/tests/backends.py
  stapi-fastapi/tests/conftest.py
  stapi-fastapi/tests/test_opportunity.py
  stapi-fastapi/tests/test_opportunity_async.py
  stapi-fastapi/tests/test_order.py
  stapi-pydantic/CHANGELOG.md
  stapi-pydantic/src/stapi_pydantic/__init__.py
  stapi-pydantic/src/stapi_pydantic/opportunity.py
  stapi-pydantic/src/stapi_pydantic/order.py
  stapi-pydantic/tests/test_opportunity.py
  stapi-pydantic/tests/test_order.py
Due: ruff-check, ruff-format, mypy, pymarkdown

feat!: record an order's request as a single StoredOrderRequest
  stapi-fastapi/tests/backends.py
  stapi-fastapi/tests/test_order.py
  stapi-pydantic/CHANGELOG.md
  stapi-pydantic/src/stapi_pydantic/__init__.py
  stapi-pydantic/src/stapi_pydantic/order.py
  stapi-pydantic/tests/test_order.py
Due: ruff-check, ruff-format, mypy, pymarkdown

feat!: record what an opportunity search was for, not the request that carried it
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
  stapi-fastapi/tests/backends.py
  stapi-fastapi/tests/test_opportunity_async.py
  stapi-pydantic/CHANGELOG.md
  stapi-pydantic/src/stapi_pydantic/__init__.py
  stapi-pydantic/src/stapi_pydantic/opportunity.py
  stapi-pydantic/tests/test_opportunity.py
Due: ruff-check, ruff-format, mypy, pymarkdown

feat!: let an implementation constrain its own status code set
  stapi-pydantic/CHANGELOG.md
  stapi-pydantic/pyproject.toml
  stapi-pydantic/src/stapi_pydantic/opportunity.py
  stapi-pydantic/src/stapi_pydantic/order.py
  stapi-pydantic/tests/test_opportunity.py
  stapi-pydantic/tests/test_order.py
  uv.lock
Due: ruff-check, ruff-format, mypy, pymarkdown, check-toml

feat!: give order and search statuses matching collection wrappers
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
  stapi-pydantic/CHANGELOG.md
  stapi-pydantic/src/stapi_pydantic/__init__.py
  stapi-pydantic/src/stapi_pydantic/opportunity.py
  stapi-pydantic/src/stapi_pydantic/order.py
  stapi-pydantic/tests/test_opportunity.py
Due: ruff-check, ruff-format, mypy, pymarkdown

refactor!: derive Order from Feature again, and harden Opportunity
  stapi-pydantic/CHANGELOG.md
  stapi-pydantic/src/stapi_pydantic/opportunity.py
  stapi-pydantic/src/stapi_pydantic/order.py
  stapi-pydantic/tests/test_opportunity.py
Due: ruff-check, ruff-format, mypy, pymarkdown

feat: publish stapi_type and stapi_version on every entity
  stapi-fastapi/tests/test_order.py
  stapi-pydantic/CHANGELOG.md
  stapi-pydantic/src/stapi_pydantic/opportunity.py
  stapi-pydantic/src/stapi_pydantic/order.py
  stapi-pydantic/tests/test_opportunity.py
  stapi-pydantic/tests/test_order.py
Due: ruff-check, ruff-format, mypy, pymarkdown

feat!: derive a required bbox from geometry, and union it across collections
  stapi-pydantic/CHANGELOG.md
  stapi-pydantic/src/stapi_pydantic/opportunity.py
  stapi-pydantic/src/stapi_pydantic/order.py
  stapi-pydantic/src/stapi_pydantic/shared.py
  stapi-pydantic/tests/test_opportunity.py
  stapi-pydantic/tests/test_order.py
  stapi-pydantic/tests/test_shared.py
Due: ruff-check, ruff-format, mypy, pymarkdown

feat: publish numberMatched on every collection
  stapi-pydantic/CHANGELOG.md
  stapi-pydantic/src/stapi_pydantic/opportunity.py
  stapi-pydantic/src/stapi_pydantic/order.py
  stapi-pydantic/src/stapi_pydantic/product.py
  stapi-pydantic/src/stapi_pydantic/shared.py
  stapi-pydantic/tests/test_opportunity.py
  stapi-pydantic/tests/test_order.py
  stapi-pydantic/tests/test_product.py
  stapi-pydantic/tests/test_shared.py
Due: ruff-check, ruff-format, mypy, pymarkdown

refactor: name parameterized generics readably in published schemas
  stapi-pydantic/CHANGELOG.md
  stapi-pydantic/src/stapi_pydantic/opportunity.py
  stapi-pydantic/src/stapi_pydantic/order.py
  stapi-pydantic/src/stapi_pydantic/shared.py
  stapi-pydantic/tests/test_shared.py
Due: ruff-check, ruff-format, mypy, pymarkdown

build!: drop the runtime dependencies stapi-fastapi never imported
  stapi-fastapi/CHANGELOG.md
  stapi-fastapi/pyproject.toml
  uv.lock
Due: pymarkdown, check-toml

fix!: dedupe and rename the route name constants
  stapi-fastapi/CHANGELOG.md
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
  stapi-fastapi/src/stapi_fastapi/routers/route_names.py
Due: ruff-check, ruff-format, mypy, pymarkdown

refactor: spell a route's registered name in one place
  stapi-fastapi/src/stapi_fastapi/routers/base.py
  stapi-fastapi/src/stapi_fastapi/routers/product_router.py
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
Due: ruff-check, ruff-format, mypy

refactor!: let a Route describe itself, including how it can fail
  stapi-fastapi/CHANGELOG.md
  stapi-fastapi/src/stapi_fastapi/routers/base.py
  stapi-fastapi/src/stapi_fastapi/routers/product_router.py
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
  stapi-fastapi/src/stapi_fastapi/routers/route_names.py
  stapi-fastapi/tests/test_openapi.py
Due: ruff-check, ruff-format, mypy, pymarkdown

feat!: publish camelCase path parameters
  stapi-fastapi/CHANGELOG.md
  stapi-fastapi/src/stapi_fastapi/path_params.py
  stapi-fastapi/src/stapi_fastapi/routers/product_router.py
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
Due: ruff-check, ruff-format, mypy, pymarkdown

feat!: bound the pagination limit and publish what it accepts
  stapi-fastapi/CHANGELOG.md
  stapi-fastapi/src/stapi_fastapi/query_params.py
  stapi-fastapi/src/stapi_fastapi/routers/product_router.py
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
  stapi-fastapi/tests/test_opportunity.py
  stapi-fastapi/tests/test_order.py
  stapi-fastapi/tests/test_pagination.py
  stapi-fastapi/tests/test_product.py
Due: ruff-check, ruff-format, mypy, pymarkdown

refactor!: move the shared pagination link onto the base router
  stapi-fastapi/CHANGELOG.md
  stapi-fastapi/src/stapi_fastapi/routers/base.py
  stapi-fastapi/src/stapi_fastapi/routers/product_router.py
  stapi-fastapi/src/stapi_fastapi/routers/root_router.py
Due: ruff-check, ruff-format, mypy, pymarkdown

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  pymarkdown: any of: \.(md|mdown|markdown)$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$, but not: ^mkdocs.yml$
