Repository stapi-spec/pystapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, mypy, pymarkdown, check-toml, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:

      - id: ruff-check
        name: Lint with ruff
        entry: ruff check --fix
        language: system
        types: [python]
        pass_filenames: false
        verbose: true

      - id: ruff-format
        name: Format with ruff
        entry: ruff format
        language: system
        types: [python]
        pass_filenames: false
        verbose: true

      - id: mypy
        name: Check typing with mypy
        entry: mypy
        language: system
        types: [python]
        pass_filenames: false
        verbose: true

      - id: pymarkdown
        name: Markdownlint
        description: Run markdownlint on Markdown files
        entry: pymarkdown scan
        language: python
        files: \.(md|mdown|markdown)$
        exclude: ^.github/pull_request_template.md$

      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system

      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]

      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]

      - id: mixed-line-ending
        name: Check mixed line endings
        entry: mixed-line-ending
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]

      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]

      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]

      - id: check-merge-conflict
        name: Check merge conflicts
        entry: check-merge-conflict
        language: system

      - id: no-commit-to-branch
        name: Check not committting to main
        entry: no-commit-to-branch
        language: system
        args: ["--branch", "main"]
        pass_filenames: false

remove custom bins for mypy and ruff
  bin/run-mypy.bash
  bin/run-ruff.bash
Due: none

feat: add docs
  docs/img/stapi.png
  docs/index.md
  docs/stapi-pydantic/api.md
  docs/stapi-pydantic/index.md
  mkdocs.yml
  pyproject.toml
  uv.lock
Due: pymarkdown, check-toml, check-yaml

Revert updating wrong pyproject.toml
  pyproject.toml
  stapi-validator/pyproject.toml
  uv.lock
Due: check-toml

feat: add mkdocs build
  .github/workflows/ci.yaml
Due: check-yaml

feat: default group
  pyproject.toml
Due: check-toml

Restructure and comply with uv
  pyproject.toml
  stapi-validator/README.md
  stapi-validator/src/stapi_validator/__init__.py
  uv.lock
Due: ruff-check, ruff-format, mypy, pymarkdown, check-toml

feat: deploy docs
  .github/workflows/ci.yaml
Due: check-yaml

feat: only deploy from main
  .github/workflows/ci.yaml
Due: check-yaml

feat: add docs (#9)
  .github/workflows/ci.yaml
  docs/img/stapi.png
  docs/index.md
  docs/stapi-pydantic/api.md
  docs/stapi-pydantic/index.md
  mkdocs.yml
  pyproject.toml
  uv.lock
Due: pymarkdown, check-toml, check-yaml

get pytest qworking
  pyproject.toml
  stapi-fastapi/pyproject.toml
  uv.lock
Due: check-toml

remove duplicate files
  stapi-fastapi/.gitignore
  stapi-fastapi/.pre-commit-config.yaml
  stapi-fastapi/LICENSE
Due: check-yaml

move linter settings
  pyproject.toml
  stapi-fastapi/pyproject.toml
Due: check-toml

remove linting scripts
  scripts/format
  scripts/lint
Due: none

Add a root script entry
  pyproject.toml
  stapi-validator/pyproject.toml
  stapi-validator/src/stapi_validator/__init__.py
Due: ruff-check, ruff-format, mypy, check-toml

removing abandond command
  stapi-fastapi/pyproject.toml
Due: check-toml

adding hatch target for pydantic
  stapi-pydantic/pyproject.toml
Due: check-toml

Make minimum python 3.10
  stapi-validator/pyproject.toml
  uv.lock
Due: check-toml

Lint
  stapi-validator/src/stapi_validator/__init__.py
  stapi-validator/tests/validate_api.py
Due: ruff-check, ruff-format, mypy

fix: permissions for docs
  .github/workflows/ci.yaml
Due: check-yaml

fix: docs dependency
  pyproject.toml
Due: check-toml

Update stapi-fastapi/pyproject.toml
  stapi-fastapi/pyproject.toml
Due: check-toml

remove nox
  stapi-fastapi/noxfile.py
Due: ruff-check, ruff-format, mypy

run pre-commit hooks through uv run
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: check-toml, check-yaml

comment ruff rules
  pyproject.toml
Due: check-toml

feat: add RELEASING.md
  RELEASING.md
Due: pymarkdown

chore: update changelog
  stapi-pydantic/CHANGELOG.md
Due: pymarkdown

remove explicit ruff includes
  pyproject.toml
Due: check-toml

change order of ruff hooks
  .pre-commit-config.yaml
Due: check-yaml

bring back order and let ruff fix it
  .pre-commit-config.yaml
Due: check-yaml

feat: add release CI
  .github/workflows/pypi.yaml
Due: check-yaml

feat: update releasing
  RELEASING.md
Due: pymarkdown

release: stapi-pydantic v0.0.1 (#14)
  .github/workflows/pypi.yaml
  RELEASING.md
  stapi-pydantic/CHANGELOG.md
Due: pymarkdown, check-yaml

fix: tag syntax in pypi.yaml
  .github/workflows/pypi.yaml
Due: check-yaml

fix: actually echo to GITHUB_OUTPUT
  .github/workflows/pypi.yaml
Due: check-yaml

fix: create venv
  .github/workflows/pypi.yaml
Due: check-yaml

fix: install build to the system
  .github/workflows/pypi.yaml
Due: check-yaml

fix: use uv system python
  .github/workflows/pypi.yaml
Due: check-yaml

fix: another flail at ci
  .github/workflows/pypi.yaml
Due: check-yaml

increase line lenght
  pyproject.toml
Due: check-toml
